
  <header>
    <div class="cabecera">
        <!--los g1 son los globos del menu y las m son marcos-->
        <div class="g g1 co" (click)="navigateToExperience()"><p>Experiencia</p></div>
        <div  class="g g2 co" (click)="navigateToContact()"><p>Contacto</p></div>
        <div class="g g3 co" (click)="navigateToPortfolio()"><p>portfolio</p></div>
        <div class="m m1"></div>
        <div class="m m2"></div>
        <div class="m m3"></div>
        <app-dialogo-foto class="idioma"></app-dialogo-foto>

   

    </div>
    
</header>