
  <header>
    <div class="cabecera">
        <!--los g1 son los globos del menu y las m son marcos-->
        <div class="g1" (click)="navigateToExperience()"><p>Experiencia</p></div>
        <div  class="g2" (click)="navigateToContact()"><p>Contacto</p></div>
        <div class="g3" (click)="navigateToPortfolio()"><p>portfolio</p></div>
        <div class="m m1"></div>
        <div class="m m2"></div>
        <div class="m m3"></div>
        <app-dialogo-foto></app-dialogo-foto>
        <app-modo-noche></app-modo-noche>

    </div>
    
</header>