<app-header></app-header>
<div class="todo">
<div class="contact-container">
    <h2>Contacto</h2>
    <div class="contact-info">
      <div class="contact-item">
        <span class="contact-icon">📧</span>
        <div class="contact-details">
          <p>Email:</p>
          <a href="mailto:asierralaya&#64;gmail.com" class="contact-link">asierralaya&#64;gmail.com</a>
        </div>
      </div>
      <div class="contact-item">
        <span class="contact-icon">📞</span>
        <div class="contact-details">
          <p>Teléfono:</p>
          <a href="tel:+123456789" class="contact-link">+34 611 45 36 51</a>
        </div>
      </div>
    </div>
  </div>
</div>
  