<div class="portfolio-container">
    <h2>Mi Portafolio</h2>
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img src="../../assets/armando.jpg" alt="Proyecto 1">
        <a href="url/to/project1" target="_blank" class="portfolio-link">Mírame</a>
      </div>
      <div class="portfolio-item">
        <img src="../../assets/musica.png" alt="Proyecto 2">
        <a href="https://arsibal97.github.io/musica/" target="_blank" class="portfolio-link">Explora</a>
      </div>
      <div class="portfolio-item">
        <img src="path/to/image3.jpg" alt="Proyecto 3">
        <a href="url/to/project3" class="portfolio-link">Descúbrelo</a>
      </div>
      <div class="portfolio-item">
        <img src="../../assets/armando.jpg" alt="Proyecto 1">
        <a href="url/to/project1" target="_blank" class="portfolio-link">Mírame</a>
      </div>
      <div class="portfolio-item">
        <img src="../../assets/armando.jpg" alt="Proyecto 1">
        <a href="url/to/project1" target="_blank" class="portfolio-link">Mírame</a>
      </div>s
      <!-- Añade más proyectos según sea necesario -->
    </div>
  </div>
  